/*---------------section inicial----------------*/

h1 {
    font-family: 'Gloock', serif;
    font-size: 4em;
    font-weight: normal;
    margin-bottom: 0.4em;
}

#sec-home {
    display: flex;
    align-items: center;
    gap: 100px;
}

#sec-home p {
    width: 90%;
}

#img-home {
    width: 450px;
}

/*----------------botao video-----------------*/

.btn-video {
    margin: 30px 0px 0px 15px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 30px 15px 70px;
    background: #17294B;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.circulo-play {
    position: absolute;
    left: -20px;
    width: 70px;
    height: 70px;
    background: #2D497D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo-play-interno {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-play-icon {
    color: #d9d9d9;
    font-size: 26px;
}

.btn-video:hover {
    background-color: #2D497D;
    transform: scale(1.05);
    transition: 0.8s ease;

    & .circulo-play {
        background-color: #17294B;
        transition: background-color 0.8s ease;
    }   
}

/*--------------section guia turistico------------------*/

#carrossel {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 30px auto;
    position: relative;
}

.btn-carousel {
    border: none;
    background: none;
    font-size: 3rem;
    cursor: pointer;
    color: #0D2340;
    position: relative;
    z-index: 10;
}

.btn-carousel:hover {
    color: #5274b3;
    transition: color 0.5s ease;
}

.carousel-view {
    flex: 1;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    gap: 30px;
    transition: transform .4s ease;
}

.card-turistico {
    min-width: 250px;
    margin: 10px 0;
    height: 320px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .3);
}

.card-turistico:hover {
    transform: scale(1.03);
    box-shadow: 0 0px 10px rgba(0, 0, 0, .5);
    transition: 0.5s ease;
}

.card-turistico img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    color: white;
    background-color: #17294B;
}

.card-info h3 {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.card-info p {
    font-size: .7em;
    opacity: .9;
}

.fade {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    pointer-events: none;
    z-index: 5;
}

.fade-left {
    left: 0;
    background: linear-gradient(to right,
            #fff 0%,
            rgba(255, 255, 255, 0) 100%);
}

.fade-right {
    right: 0;
    background: linear-gradient(to left,
            #fff 0%,
            rgba(255, 255, 255, 0) 100%);
}

/*--------------section últimas notícias------------------*/
#sec-ultimas-noticias {
    background-color: #17294B;
    color: #fff;
    padding: 50px 90px;
}

#sec-ultimas-noticias h2 {
    margin-bottom: 15px;
}

#painel-noticias {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 30px 50px;
    align-items: start;
    width: 90%;
    margin: 0 auto;
}

.card-noticia:first-child {
    grid-row: span 2;
}

.card-noticia:hover h3{
    font-weight: 500;
}

.card-noticia h3 {
    font-weight: normal;
    font-size: 1em;
    margin: 10px 0 5px 0;
}

.card-noticia p {
    font-size: .9em;
    color: #bfbfbf;
}

.img-noticia {
    width: 100%;
    border-radius: 15px;
    display: block;
    object-fit: cover;
}

.img-not-1 {
    height: 500px;
}

.img-not-2,
.card-noticia:nth-child(3) .img-noticia {
    height: 190px;
}

/**--------------painel do clima------------------*/

#painel-clima {
    max-width: 900px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0D2340;
    border-radius: 15px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-clima {
    padding: 25px;
    position: relative;
    overflow: hidden;
}

.card-clima:nth-child(2) {
    background-color: #152A46;
}

.subtitulo-card {
    font-size: 0.8em;
    color: #5274b3;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 3px;
}

.temperatura-atual {
    font-size: 2.8em;
}

.info-adicional-clima {
    font-size: 0.75em;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.linha {
    width: 100%;
    height: 1px;
    background-color: #ffffff50;
    margin: 10px 0;
}

.emoji-clima {
    position: absolute;
    top: -30px;
    right: -20px;
    font-size: 5em;
    opacity: 0.1;
}

.previsao-3-dias {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-top: 15px;
}

.dia-previsao {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 5px;

    background-color: #ffffff18;
    padding: 10px;
    border-radius: 10px;
    font-size: 0.8em;
}

.dia-semana {
    color: #ffffff6f;
}

.emoji-seguinte {
    font-size: 1.7em;
}

/**--------------painel cotacoes-----------------*/

#painel-cotacoes {
    max-width: 900px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0D2340;
    border-radius: 15px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-cotacao {
    padding: 25px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.card-cotacao:nth-child(2) {
    background-color: #152A46;
}

.moeda {
    position: absolute;
    font-size: 5.5em;
    top: -40px;
    right: -10px;
    opacity: 0.1;
}

.cotacao-valor {
    font-size: 2.5em;
}

/*---------section quem somos---------------*/
#sec-quem-somos{
    background-color: #17294B;
    color: #fff;
    padding: 50px 90px;
    display: flex;
    flex-direction: column;
}

#sec-quem-somos p{
    margin: 10px auto 25px auto;
}

#sec-quem-somos button{
    align-self: center;
    text-align: center;
    background-color: #6C80A3;
    font-weight: 600;
    color: #fff;
    border-radius: 15px;
    padding: 8px 15px;
}

/*-----------------section tirinhas------------------*/

#painel-tirinhas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#painel-tirinhas img {
    max-width: 70%;
}

.btn-tirinhas {
    background-color: #152A46;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: left;
    margin-top: 20px;
    display: flex;
    max-width: 270px;
    gap: 10px;
    align-items: center;
    font-size: 0.9em;
    cursor: pointer;   
}

#btn-seta-icon {
    font-size: 2em;
    color: #ffffff40;
}

.btn-tirinhas:hover {
    background-color: #2D497D;
    transform: scale(1.03);
    transition: 0.5s ease;
    cursor: pointer;
}